
<style>
  table, tr, th, td {
    border:1px solid black;
  }
  table{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  tr{
    width: 50%;
  }
  .forma{
    border:1px solid red;
  }
</style>

<table>
  <tr>
    <th>Id</th>
    <th>Name</th>
    <th>Age</th>
    <th>Actions</th>
  </tr>
  <tr *ngFor="let i of dataServer.data" style="border:1px solid black;">
    <td [(ngModel)]="employee.id" id="id">{{i.id}}</td>
    <td>{{i.employee_name}}</td>
    <td>{{i.employee_age}}</td>
    <td>
    <a (click)="deleteEmployee(i.id)">Delete</a>
    <a (click)="posalji()">Edit </a>
    </td>
  </tr>
</table>
